---
layout: default
robots: noindex
---

<!--<div class="main-post-list">-->

  <ul class="timeline">
    
    {% for project in site.data.projects %}

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a target="_blank">{{ project.name }}</a></h4>
            <h5><a target="_blank">{{ project.subtitle }}</a></h5>
          </div>
          <div class="timeline-body">
            {% if project.desc %}
              {{ project.desc | markdownify }}
            {% else %}
            <div repotext="{{ project.repo }}">
              <span class="desc"></div>
            </div>
            {% endif %}
            {% if project.ondemand %}
            <a target="_blank" href="https://calendly.com/paulcooper88/luminar-on-demand"><i class="fa fa-play" style="color:#304D98"></i><span class="phone"> </span></a>&emsp;&emsp;&emsp;&emsp;
            {% else %}
            <a target="_blank" href="https://calendly.com/paulcooper88/luminar-private-tutor-inquiry"><i class="fa fa-phone" style="color:#304D98"></i><span class="phone"> </span></a>&emsp;&emsp;&emsp;&emsp;
            <a target="_blank" href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" style="color:#304D98"></i><span class="envelope"> </span></a>&emsp;&emsp;
            {% endif %}
            <div style="height: 10px;"></div>
          </div>
        </div>
      </li>
    {% endfor %}
    <!--
    <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="user-image" src="{{site.baseurl}}{{ site.timeline-img }}" alt="">
      </div>
    </li> -->
  </ul>

<!--</div>-->

