<footer class="footer">
  <span class="footer__copyright" style="font-size:140%;">Email: info@luminar.com</span>
  <span class="footer__copyright" style="font-size:140%;">Telephone: 314-609-6413</span>
  <br>
  <span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
  <br>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js?{{site.time | date: '%s%N'}}"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/github_api.js?{{site.time | date: '%s%N'}}"></script>
